# Importing Cov2 Confirmed Cases

## Dependencies

In [1]:
# basic stuff
import psycopg2
import pandas as pd
import psycopg2.extras
import os
import numpy
from config import (census_key, gkey)
import gmaps
import requests
from ipywidgets.embed import embed_minimal_html
from pprint import pprint

# Imports the method used to connect to DBs
from sqlalchemy import create_engine

# function to establish a session with a connected database
from sqlalchemy.orm import Session

# database compliant datatypes
from sqlalchemy import Column, Integer, String, Float

## Setup PostgreSQL Connection

In [2]:
# password is hard-coded in the connection string as "postgres"
engine = create_engine('postgresql://postgres:postgres@localhost:5432/covid_db')

## Import Confirmed Cases

In [3]:
# confirmed case data
raw_file = os.path.join("..","data","raw","covid_confirmed_usafacts.csv")

# pandas read csv to dataframe
raw_df = pd.read_csv(raw_file, encoding="ISO-8859-1")

# preview the raw data
raw_df.head()

,countyFIPS,County Name,State,stateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,4/8/2020,4/9/2020,4/10/2020,4/11/2020,4/12/2020,4/13/2020,4/14/2020,4/15/2020,4/16/2020,4/17/2020
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,12,17,17,19,19,19,23,25,25,26
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,49,59,59,66,71,78,87,98,102,103
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,3,7,9,10,10,9,11,13,14,15
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,9,11,11,13,16,17,17,19,23,23

## Rename some columns

In [4]:
# set names to table column names
raw_df = raw_df.rename(columns={
    'countyFIPS': 'county_fips',
    'County Name': 'county_name',
    'State': 'state_id',
    'stateFIPS': 'state_fips'
})

# checking
raw_df.head()

,county_fips,county_name,state_id,state_fips,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,4/8/2020,4/9/2020,4/10/2020,4/11/2020,4/12/2020,4/13/2020,4/14/2020,4/15/2020,4/16/2020,4/17/2020
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,12,17,17,19,19,19,23,25,25,26
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,49,59,59,66,71,78,87,98,102,103
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,3,7,9,10,10,9,11,13,14,15
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,9,11,11,13,16,17,17,19,23,23

## Upload to PostgreSQL

In [6]:
# arrays for the new dataframe
countyFIPS = raw_df['county_fips']
countyNames = raw_df['county_name']
states = raw_df['state_id']
stateFIPS = raw_df['state_fips']

# column counter
col = 0

# iterate over the columns
testDates = []
for columnName, columnValues in raw_df.iteritems():
    # increment column counter
    col+=1
    
    # if the column is past the 4th position, then it is a fact column
    if col > 4:
        testDates.append(columnName)

# loop through dates, put together dataset
for d in testDates:

    # array of the confirmed cases for the date (d)
    confirmedCases = raw_df[d]
    
    # create a new dataframe of all the arrays
    new_df = pd.DataFrame({
        'county_fips': countyFIPS,
        'county_name': countyNames,
        'state_id': states,
        'state_fips': stateFIPS,
        'test_date': d,
        'confirmed_cases': confirmedCases
    })
    
    # write each data frame to the sql staging table
    new_df.to_sql('staging_confirmed_cases', con=engine, if_exists='append', index=False)

## Update Main Tables

### df from view of unique states

In [11]:
# make dataframe out of county staging view
state_df = pd.read_sql_query('select * from "staging_state_list"',con=engine)

state_df.head()

   state_fips state_id
0           1       AL
1          51       VA
2          12       FL
3          10       DE
4          19       IA

### df from view of unique counties

In [9]:
# make dataframe out of county staging view (note that we are excluding 0's)
county_df = pd.read_sql_query('select * from "staging_county_list" WHERE county_fips <> 0',con=engine)

county_df.head()

   county_fips  state_fips       county_name
0        48467          48  Van Zandt County
1        28059          28    Jackson County
2        55019          55      Clark County
3        31185          31       York County
4        39119          39  Muskingum County

### writing states to table

In [12]:
# writing to state table
state_df.to_sql('states', con=engine, if_exists='append', index=False)

### write unique counties to county table

In [13]:
# writing to county table
county_df.to_sql('county', con=engine, if_exists='append', index=False)

### pull the county list in to process for lat/long (geo-coding)

In [32]:
# pull from real county view
county_df = pd.read_sql_query('select * from "county_list"',con=engine)

county_df.head()

   county_fips  state_fips state_id        county_name  latitude  longitude
0        47187          47       TN  Williamson County       NaN        NaN
1        47045          47       TN        Dyer County       NaN        NaN
2        39123          39       OH      Ottawa County       NaN        NaN
3         1099           1       AL      Monroe County       NaN        NaN
4        23017          23       ME      Oxford County       NaN        NaN

### looping through the counties for geo-coding
Warning!  This will take a while, there are about 3,200 counties

In [33]:
# to catch missing counties
missing_counties = []

# loop through counties
for index, row in county_df.iterrows():
    
    # target address is the county
    county_fips = row['county_fips']
    county_name = row['county_name']
    state_id = row['state_id']
    
    # setup URL
    target_url = 'https://maps.googleapis.com/maps/api/geocode/json?components=locality:' + county_name.replace(' ','%20') + '|state:' + state_id + '|country:US&key=' + gkey
    
#     print(target_url)
    
    # geo-codin'
    geo_data = requests.get(target_url).json()
#     print(geo_data)
#     geo_data = []
    
    # try to extract lat/long
    try:
        
        # Extract latitude and longitude
        lat = geo_data["results"][0]["geometry"]["location"]["lat"]
        lng = geo_data["results"][0]["geometry"]["location"]["lng"]

        # update the database
        sql = "UPDATE county SET ""latitude"" = " + str(lat) + ", ""longitude"" = " + str(lng) + " WHERE ""county_fips"" = " + str(county_fips) + ";"
        engine.execute(sql)
        
    except:
        
        # append to missing counties
        missing_counties.append(county_fips)

missing_counties

# print(sql)

[]

### unique dates for test_dates table

In [36]:
# pull from staging dates view
dates_df = pd.read_sql_query('select test_date from "staging_confirmed_cases" GROUP BY test_date',con=engine)

dates_df.head()

    test_date
0  2020-01-22
1  2020-01-23
2  2020-01-24
3  2020-01-25
4  2020-01-26

### write to test_dates table

In [37]:
# writing to county table
dates_df.to_sql('test_dates', con=engine, if_exists='append', index=False)

### populate the confirmed_cases table

In [34]:
# make dataframe out of confirmed cases staging view (note that we are excluding 0's in the view)
cases_df = pd.read_sql_query('select * from "staging_cases_list"',con=engine)

cases_df.head()

   county_fips   test_date  confirmed_cases
0         1001  2020-01-22                0
1         1003  2020-01-22                0
2         1005  2020-01-22                0
3         1007  2020-01-22                0
4         1009  2020-01-22                0

### write to table

In [38]:
# writing to confirmed cases table
cases_df.to_sql('confirmed_cases', con=engine, if_exists='append', index=False)

## Load the county population data

In [44]:
# confirmed case data
raw_file = os.path.join("..","data","raw","covid_county_population_usafacts.csv")

# pandas read csv to dataframe
raw_df = pd.read_csv(raw_file, encoding="ISO-8859-1")

# preview the raw data
raw_df.head()

   countyFIPS            County Name State  population
0           0  Statewide Unallocated    AL           0
1        1001         Autauga County    AL       55869
2        1003         Baldwin County    AL      223234
3        1005         Barbour County    AL       24686
4        1007            Bibb County    AL       22394

### rename some columns

In [45]:
# set names to table column names
raw_df = raw_df.rename(columns={
    'countyFIPS': 'county_fips',
    'County Name': 'county_name',
    'State': 'state_id'
})

# checking
raw_df.head()

   county_fips            county_name state_id  population
0            0  Statewide Unallocated       AL           0
1         1001         Autauga County       AL       55869
2         1003         Baldwin County       AL      223234
3         1005         Barbour County       AL       24686
4         1007            Bibb County       AL       22394

### write to table

In [46]:
# writing to confirmed cases table
raw_df.to_sql('staging_county_population', con=engine, if_exists='append', index=False)

### looking at population data (counties only)

In [49]:
# pull from staging population view
pop_df = pd.read_sql_query('select * from "staging_population"',con=engine)

pop_df.head()

   county_fips  population
0         1001       55869
1         1003      223234
2         1005       24686
3         1007       22394
4         1009       57826

### write to county_population table

In [50]:
# writing to confirmed cases table
pop_df.to_sql('county_population', con=engine, if_exists='append', index=False)

## Global Deaths by County and Date

In [53]:
# confirmed case data
raw_file = os.path.join("..","data","raw","covid_deaths_usafacts.csv")

# pandas read csv to dataframe
raw_df = pd.read_csv(raw_file, encoding="ISO-8859-1")

# preview the raw data
raw_df.head()

,countyFIPS,County Name,State,stateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,4/8/2020,4/9/2020,4/10/2020,4/11/2020,4/12/2020,4/13/2020,4/14/2020,4/15/2020,4/16/2020,4/17/2020
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### rename some columns

In [54]:
# set names to table column names
raw_df = raw_df.rename(columns={
    'countyFIPS': 'county_fips',
    'County Name': 'county_name',
    'State': 'state_id',
    'stateFIPS': 'state_fips'
})

# checking
raw_df.head()

,county_fips,county_name,state_id,state_fips,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,4/8/2020,4/9/2020,4/10/2020,4/11/2020,4/12/2020,4/13/2020,4/14/2020,4/15/2020,4/16/2020,4/17/2020
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### upload to PostgreSQL

In [56]:
# arrays for the new dataframe
countyFIPS = raw_df['county_fips']
countyNames = raw_df['county_name']
states = raw_df['state_id']
stateFIPS = raw_df['state_fips']

# column counter
col = 0

# iterate over the columns
testDates = []
for columnName, columnValues in raw_df.iteritems():
    # increment column counter
    col+=1
    
    # if the column is past the 4th position, then it is a fact column
    if col > 4:
        testDates.append(columnName)

# loop through dates, put together dataset
for d in testDates:

    # array of the confirmed cases for the date (d)
    deaths = raw_df[d]
    
    # create a new dataframe of all the arrays
    new_df = pd.DataFrame({
        'county_fips': countyFIPS,
        'test_date': d,
        'covid_deaths': deaths
    })

    # write each data frame to the sql staging table
    new_df.to_sql('staging_county_deaths', con=engine, if_exists='append', index=False)

### pull in the full staging table

In [57]:
# pull from staging population view
deaths_df = pd.read_sql_query('select * from "staging_deaths"',con=engine)

deaths_df.head()

   county_fips   test_date  covid_deaths
0         1001  2020-01-22             0
1         1003  2020-01-22             0
2         1005  2020-01-22             0
3         1007  2020-01-22             0
4         1009  2020-01-22             0

### write to the database (only where county_id <> 0)

In [58]:
# writing to confirmed cases table
deaths_df.to_sql('county_deaths', con=engine, if_exists='append', index=False)

## Grab the view for the visualization

In [59]:
# exporting for tableau
report_df = pd.read_sql_query('select * from "confirmed_cases_daily"',con=engine)

report_df.head()

,county_fips,county_name,latitude,longitude,state_id,population,test_date,confirmed_cases,covid_deaths,previous_date,previous_confirmed_cases,daily_change,daily_change_percent
0,1001,Autauga County,32.579182,-86.499655,AL,55869,2020-01-23,0,0,2020-01-22,0,0,NaN
1,1001,Autauga County,32.579182,-86.499655,AL,55869,2020-01-24,0,0,2020-01-23,0,0,NaN
2,1001,Autauga County,32.579182,-86.499655,AL,55869,2020-01-25,0,0,2020-01-24,0,0,NaN
3,1001,Autauga County,32.579182,-86.499655,AL,55869,2020-01-26,0,0,2020-01-25,0,0,NaN
4,1001,Autauga County,32.579182,-86.499655,AL,55869,2020-01-27,0,0,2020-01-26,0,0,NaN

## Write to file for Tableau

In [60]:
full_file = os.path.join("..", "data", "clean", "confirmed_cases_daily.csv")
report_df.to_csv(full_file, index=False, header=True)